/*
    Nombre: Iván Roque Álvarez Lamas
    UO: UO265217
*/

/*Estilos generales del proyecto MotoGP-Desktop*/

/* ESPECIFICIDAD 001 */
body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;

  background-color: #f5f5f5;
  color: #222222;
}

/* ESPECIFICIDAD 001 */
header {
  color: #fff5f5;
  background-color: #d32f2f;
}

/* ESPECIFICIDAD 002 */
header a {
  color: #fff5f5; /* WARNING: Hereda color de fondo de header */
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* ESPECIFICIDAD 012 */
header a.active {
  color: #f5f5f5; /* WARNING: Hereda color de fondo de header */
  font-weight: bold;
  text-decoration: underline;
}

/* ESPECIFICIDAD 001 */
h1 {
  color: #f5f5f5; /* WARNING: Hereda color de fondo de body */
}

/* ESPECIFICIDAD 001 */
nav {
  color: #ffd700; /* WARNING: Hereda color de fondo de body */
}

/* Selector migas */
/* ESPECIFICIDAD 002 */
body > p {
  font-size: 0.8rem;
  color: #222222; /* WARNING: Hereda color de fondo de body */
}
