/* Especificidad: 001 */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0.75rem;
}

/* Especificidad: 002 */
main h2 {
  grid-column: 1 / -1;
  text-align: center;
}

/* Especificidad: 002 */
main article {
  width: 100%;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}
